{extend name="public/base" /}
{block name="contents"}

<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/admin/Category">
      <div class="form-group">
        <div class="label">
          <label>上级分类：</label>
        </div>
        <div class="field">
          <select id="pid" class="input w50" onchange="setIndex()">
            <option value="0">顶级分类</option>
            {volist name="top_cats" id="val"}
              <option value="{$val.id}">{$val.cat_name}</option>
            {/volist}
          </select>
          <div class="tips">不选择上级分类默认为一级分类</div>
        </div>
      </div>

       <div class="form-group" style="display: none;" id="sel">
          <div class="label">
            <label>是否上架</label>
          </div>
          <div class="field" style="padding-top:8px;"> 
            是 <input name="is_index" value="1"  type="radio" />
            否 <input name="is_index" value="0"  type="radio"  checked="checked"/>
         
          </div>
        </div>

      <div class="form-group">
        <div class="label">
          <label>分类名称</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="cat_name" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  function setIndex(){
    pid = $("#pid").val();
    //alert(pid);
    if(pid==0){
      $("#sel").hide();
    }else{
      $("#sel").show();
    }
  }
</script>
{/block}