  {include file="public/header"}
  <link rel="stylesheet" type="text/css" href="static/home/css/cubeactcomponent.css" media="all" /> 
  <link rel="stylesheet" href="static/home/css/osvol.css" /> 
  <script src="static/home/js/index.js"></script> 

 </head> 
 
 
 <body class="media_screen_1200"> 
 
  {include file="public/nav" /}
  
  
  <div id="body_wrap"> 
   <div class="page_activity  ">


    <div class="module_row module_row_1047915 MOD_ID_248606 has-log-mod" data-mid="1047915" data-versionid="2817022" id="m1047915" data-editable="0" data-acm="3.mf.1_0_0.0.0.0.mf_15261_1047915">
     <div class="mod_row MCUBE_MOD_ID_248606 J_mod_row_show" style="width: 100%; margin-bottom: 15px; background-color: rgb(66, 185, 93);"> 


     
      <div> 
       <div class="pc_banner_wrapper clearfix"> 
        <!-- 商品导航开始 --> 
        <div class="pc_indexPage_nav_menu fl cube-acm-node has-log-mod" data-source-type="mce" data-source-key="110119">
		
         <ul class="nav_list dropdown-menu" role="mebu">

          {volist name="cats" id="val"}
          <li class="nav_list_row" data-topic="A_1"> 
           <dl class="nav_wrap"> 
			  <dt class="nav_list_title"> 
             <a rel="nofollow" class="catagory color_false" target="_blank" >{$val.cat_name}</a> 
            </dt> 
            <dd class="nav_list_content"> 

              <span class="nav_list_content_span"> 
                {volist name='val.sub_cats' id="vals"}
                <a href="Goods/list/id/{$vals.id}" rel="nofollow" style="cursor: pointer;" class="first color_true" target="_blank" >{$vals.cat_name}</a>
                {/volist}
              </span>
            </dd> 
           </dl>
		   </li>
       {/volist}
         </ul> 

        </div> 
		<!-- 商品导航结束 --> 
		
		
        <!-- 导航右边轮播开始 --> 
        <div class="item_slider fl lazyData">
         <div class="mslide_content_box" id="pc_banner_top">
          <div class="mslide_banners" style="background-color: rgb(66, 185, 93);"> 
           <a target="_blank" need-remove="no" style="z-index: 1; display: block;"> 
		   <img class="J_dynamic_img fill_img" src="/{$img.img_url}" alt="" />
		   </a> 
          </div>

         </div>
        </div> 
		 <!-- 导航右边轮播结束 -->
        </div>
       </div> 
      </div>  
     </div> 
    </div>
    
 <!-- 导航下面的广告图片开始-->
    <div class="module_row module_row_1047916 MOD_ID_914628 has-log-mod" >
     <div class="mod_row MCUBE_MOD_ID_914628 J_mod_row_show" style="margin-bottom:48px"> 
      <div class="bottom sel1 lazyData" >
       <a rel="nofollow" class="bot-img img2 J_dynamic_imagebox cube-acm-node J_loading_success has-log-mod"  target="_blank" >
	      <img class="J_dynamic_img fill_img" src="static/home/images/ad1.jpg" alt="" />
	   </a>
       <a rel="nofollow" class="bot-img img2 J_dynamic_imagebox cube-acm-node J_loading_success has-log-mod"  target="_blank"  >
	      <img class="J_dynamic_img fill_img" src="static/home/images/ad2.jpg" alt="" />
	   </a>
       <a rel="nofollow" class="bot-img img2 J_dynamic_imagebox cube-acm-node J_loading_success has-log-mod"  target="_blank" >
	      <img class="J_dynamic_img fill_img" src="static/home/images/ad3.jpg" alt="" />
	   </a>
       <a rel="nofollow" class="bot-img img2 J_dynamic_imagebox cube-acm-node J_loading_success has-log-mod"  target="_blank" >
	      <img class="J_dynamic_img fill_img" src="static/home/images/ad4.jpg" alt="" />
	   </a>
      </div> 
     </div>
    </div>
<!-- 导航下面的广告图片结束-->	
	 {volist name="goods" id="val"}
   <!-- 中间的商品展示开始--->
    <div class="module_row module_row_1047918 MOD_ID_927998 has-log-mod" >
     <div class="mod_row MCUBE_MOD_ID_927998"> 
      <!--右边区域要绑定的资源位--> 
      <div class="mainContent" style="margin-bottom:48px;"> 
       <div class="topLink"> 
        <!--顶部标题链接--> 
        <div class="lazyData clearfix cateTitleBar yahei" > 
         <div class="sideIcon" style="background-color: #8FABFF"></div> 
         <div class="cateTitleName col333">
         {$val.name}
         </div> 
        </div> 
       </div> 
       <div class="clearfix" > 
        <!--左边大图--> 
        <div class="leftBanner fl lazyData cube-acm-node has-log-mod" > 
         <a href="#" target="_blank" class="cube-acm-node"> 
		   <img class="leftBannerImg fl " src="static/home/images/ad5.jpg" />
		 </a> 
        </div> 
        <!--中间左边商品轮播--> 
        <div class="topSwiper fl lazyData" >
         <div class="mslide_content_box"> 
          <div class="mslide_banners"> 
           <div class="mslide_banner clearfix mslide_banner_show" style="left: 0px;"> 
            {volist name="val.index_goods" id="val2"}
            <div class="swiper-item fl"> 
             <a href="Goods/detail/id/{$val2.id}" class="cube-acm-node has-log-mod" target="_blank" > 
              <div class="swiper-img-wrap J_dynamic_imagebox J_loading_success"  > 
               <img class="J_dynamic_img fill_img" src="/{$val2.goods_img}" alt="" />
              </div> <p class="swiper-item-title">{$val2.goods_name}</p> 
			   <p class="swiper-item-price"> <span>&yen;</span>{$val2.pro_price} </p> 
			  </a> 
            </div> 
            {/volist}
           </div> 

          </div>
         </div>

        </div> 
        <div class="otherSlider lazyData" ></div> 
        <!--右边区域--> 
        <div class="rightWrapper fl lazyData">
         <div class="bg-white">
          <div class="header-wrapper"> 
           <span class="goods-shopName">热销商品推荐</span> 
           <span class="turn-next">换一批</span> 
          </div>

           {volist name="val.hot_goods" id="vo"}
          <a class="right-goods-item clearfix cube-acm-node has-log-mod" href="Goods/detail/id/{$vo.id}" target="_blank" > 
           <div class="J_dynamic_imagebox right-goods-img fl J_loading_success" >
            <img class="J_dynamic_img fill_img" src="/{$vo.goods_img}" alt="" />
           </div> 

           <div class="goods-info fl"> 
            <p class=" goods-info-title">{$vo.goods_name}</p> 
            <p class=" goods-info-price"><span>&yen;</span>{$vo.pro_price}</p> 
           </div></a>
          {/volist}

         </div>
        </div> 
       </div> 
      </div> 
     </div>
    </div>
	
	
  

    {/volist}
	 <!-- 中间的商品展示开始--->
   </div> 
  </div> 
  
  {include file="public/footer" /}


 </body>
</html>