<html>
 <head> 
  <script async="" src="static/js/analytics.js"></script>

  <meta charset="UTF-8" /> 

  <title>我的购物车</title> 

  <link href="/static/home/css/index.css-709a8a6f.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" type="text/css" href="/static/home/css/bottom.css" media="all" /> 
  <link href="/static/home/css/index.css-d20df184.css" rel="stylesheet" type="text/css" /> 

  <script type="text/javascript" src="static/js/pkg-pc-base.js"></script> 

 </head> 
 <body class="media_screen_1200"> 
 
  	 <!-- 顶部导航开始-->
  <div id="header" class="site-top-nav " data-ptp="_head">
   <div class="wrap"> 
    <a href="#" rel="nofollow" class="home fl">首页</a> 
    <ul class="header-top"> 
     <li class="s1 show-nologin"> <a rel="nofollow" class="J_nav_btn_login" href="login.html">登录</a> </li> 
	 <li class="s1 show-nologin"> <a rel="nofollow" class="J_nav_btn_login" href="register.html">注册</a> </li> 
     <li class="s1 myorder has-line"> <a href="//order.mogujie.com/order/list4buyer" target="_blank" class="text display_u" rel="nofollow">我的订单</a> </li> 
     <li class="s1 has-line shopping-cart-v2"> <a class="cart-info-wrap" href="//cart.mogujie.com/cart/mycart" target="_blank" rel="nofollow"> <span class="cart-info">购物车</span> </a> <i class="icon-delta"></i> <span class="shopping-cart-loading"></span> </li> 
    </ul>
   </div>
  </div>
<!-- 顶部导航结束-->


  <div id="body_wrap"> 
   <div class="g-header clearfix"> 
    <div class="g-header-in wrap clearfix"> 
     <div class="process-bar"> 
      <div class="md_process md_process_len4"> 
       <div class="md_process_wrap md_process_step1_5"> 
        <div class="md_process_sd"></div> 
        <i class="md_process_i md_process_i1"> 1 <span class="md_process_tip">购物车</span> </i> 
        <i class="md_process_i md_process_i2"> 2 <span class="md_process_tip">确认订单</span> </i> 
        <i class="md_process_i md_process_i3"> 3 <span class="md_process_tip">支付</span> </i> 
        <i class="md_process_i md_process_i4"> <img src="static/picture/171012_12eba941iia4fajf729ked218cd8k_23x23.png" alt="" width="23" height="23" /> <span class="md_process_tip">完成</span> </i> 
       </div> 
      </div> 
     </div> 
     <div class="logo logo-cart"></div> 
    </div> 
   </div> 

  
   <div class="g-wrap wrap"> 
    <ul class="clearfix cart_slide" id="cartSlide"> 
     <li> <a href="javascript:;" url="0" class="mr55 cart_slide_item cartSlideItemAll cart_slide_item_cur  "> 全部商品 <span class="num">1</span> </a> </li> 
    </ul> 
    <!-- 不为空的情况 --> 
    <div class="cart_wrap cart_nobdbtm"> 
     <div class="cart_page_wrap" id="cartPage"> 
      <input name="shop_domain" id="shop_domain" value="" type="hidden" /> 
      <input name="data_props" id="data_props" value="" type="hidden" /> 
      <input id="coudan_type" value="0" type="hidden" /> 
      <!-- 表格 --> 
      <table class="cart_table" id="cartOrderTable"> 
       <thead> 
        <tr> 
         <th class="cart_table_check_wrap cart_alleft"> <input name="s_all" class="s_all tr_checkmr" id="s_all_h" type="checkbox" /> <label for="s_all_h">全选</label> </th> 
         <th class="cart_table_goods_wrap"></th> 
         <th class="cart_table_goodsinfo_wrap">商品信息</th> 
         <th>单价(元)</th> 
         <th class="cart_table_goodsnum_wrap">数量</th> 
         <th class="cart_table_goodssum_wrap">小计(元)</th> 
         <th class="cart_table_goodsctrl_wrap">操作</th> 
        </tr> 
       </thead> 
       <tbody> 
        
        <tr class="cart_mitem " > 
         <td class="vm "> <input class="cart_thcheck" data-stockid="1tkbr1u" type="checkbox" /> </td> 
         <td class="cart_table_goods_wrap">
          <!-- 商品 --> <a href="//shop.mogujie.com/detail/1khz1xo?ptpfrom=1.fqjWab.0.0.mSpOOVjI" target="_blank" class="cart_goods_img"> <img class="cartImgTip" src="/static/home/images/ad25.jpg" alt="早秋新款好质感三色入宽松百搭V领套头毛衣女显瘦针织衫打底上衣潮" width="78" height="78" /> <img class="event_tips" src="static/picture/180827_07fbdg92h894abdj3cg0jfl8f7i3a_112x35.png" /> 
           <!-- 活动标 --> 
           <!--拼团标识--> <img class="pintuanImgTip" src="static/picture/170818_889642kg39d6k26dihkd7g3eji774_60x32.png" /> </a> 
          <!-- 商品title --> <a href="//shop.mogujie.com/detail/1khz1xo?ptpfrom=1.fqjWab.0.0.mSpOOVjI" target="_blank" class="cart_goods_t cart_hoverline" title="早秋新款好质感三色入宽松百搭V领套头毛衣女显瘦针织衫打底上衣潮"> 早秋新款好质感三色入宽松百搭V领套头毛衣女显瘦针织衫打底上衣潮 </a> 
          <!-- 321活动提醒 <div class="event_tip_wrap"> <p class="event_tips"> <b><img src="" alt=""></b><span class="e_price">321活动提醒</span> </p> </div>--> 
          <!-- 321活动提醒 end --> <p class="remind_btm"> 
           <!-- 降价信息 --> <span class="cut_infor mr5" style="color:static//static/home/images/35fbd31ed97342e2a435d9bd72eab09b.gif;background-image:url(undefined);background-color:undefined">降价6.60元</span> </p> </td> 
         <td> <p class="cart_lh20">颜色：白色</p> <p class="cart_lh20">尺码：均码</p> </td> 
         <td class="cart_alcenter">
          <!-- 单价 --> <p class="cart_lh20 cart_throughline cart_lightgray">95.00</p> <p class="cart_lh20 cart_bold cart_data_sprice" data-price="59.90"> 59.90 </p> <p> <span class="cart_tip_yellow cart_tip_focuswidth">拼团价</span> </p> </td> 
         <td class="cart_alcenter">
          <!-- 数量 --> 
          <div> 
           <div class="cart_num cart_counter"> 
            <input class="cart_num_input cart_bold" maxlength="3" value="1" type="text" /> 
            <span class="cart_num_add"></span> 
            <span class="cart_num_reduce disable"></span> 
           </div> 
          </div> </td> 
         <td class="cart_alcenter">
          <!-- 小计 --> <p class="cart_deep_red cart_font16 item_sum" data-unit="59.9" data-price="59.90">59.90</p> </td> 
         <td class="cart_alcenter">
          <!-- 操作 --> <a href="javascript:;" class="cart_hoverline delete">删除</a> </td> 
        </tr> 
        <tr class="J_mundo m-undo"> 
         <td colspan="7"> 
          <div class="m-undo-wrap">
           成功删除 
           <span class="J_num">1</span> 件商品，如有误，可
           <a href="javascript:;" class="J_undo">撤销本次删除</a>
          </div> </td> 
        </tr> 
       </tbody> 
      </table> 
      <!-- 表格 end -->
     </div> 
     <div class="cart_page_wrap" id="cartEmptyPage" style="display:none;">
      <div class="cart_empty cart_empty_act">
       <img class="cart_empty_bg" src="static/picture/180503_5e06dl842kklj4ifbbcbldjl4cb7a_514x294.png" />
       <h5 class="">购物车还是空的哦</h5>
       <p class="tip">领券购买更划算</p>

      </div>

      
     </div> 
    </div> 
    <div class="cart_paybar wrap" id="cartPaybar"> 
     <a href="topay.html" class="cart_paybtn fr cart_paybtn_disable" id="payBtn">去付款</a> 
     <div class="cart_paybar_info_cost cart_deep_red cart_bold cart_font26 cart_money fr goodsSum">
      &yen; 0.00
     </div> 
     <div class="cart_paybar_info cart_pregray fr">
       共有 
      <span class="cart_deep_red goodsNum">0</span> 件商品，总计： 
     </div> 
  
    </div> 

   </div>
  </div> 
 
   </div>
  </div> 

  {include file="public/footer" /}
  
 </body>
</html>