{extend name="public/base" /}
{block name="contents"}
<link rel="stylesheet" type="text/css" href="/static/lib/webuploader-0.1.5/webuploader.css">
<script type="text/javascript" src="/static/lib/webuploader-0.1.5/webuploader.js"></script>
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="/admin/image">    
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
          <div class="label">
            <label>图片类型</label>
          </div>
          <div class="field">
            <select name="type" class="input w50">
              <option value="">请选择分类</option>
              <option value="1">Logo(280*112)</option>
              <option value="2">幻灯片(960*550)</option>
            </select>
            <div class="tips"></div>
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
         <!--dom结构部分-->
            <div id="uploader-demo">
                <!--用来存放item-->
                <div id="fileList" class="uploader-list"></div>
                <div id="filePicker">选择图片</div>
                <span id="tip" style="position: absolute; margin-left: 200px; margin-top: -50px;">
                  <!--<img style="width:200px; height: 50px;" src="\uploads\ad\20181228\ff7b83d720819b91bf15ae629633a597.jpg">-->
                </span>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  // 初始化Web Uploader
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: '/static/lib/webuploader-0.1.5/',

    // 文件接收服务端。
    server: '/admin/image/upload',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    }
});

  // 文件上传成功，给item添加成功class, 用样式标记上传成功。
  uploader.on( 'uploadSuccess', function( file,data) {
      if(data.status=='success'){
        $("#tip").html('<img style="width:200px; height: 50px;" src=/'+data.msg+'>');
        $("#tip").append('<input type="hidden" name="img_url" value='+data.msg+'>');
      }else{
        $("#tip").html('<span style="color:red;">'+data.msg+'</span>');
      }
  });
</script>
{/block}