{include file="public/header"}
  <link rel="stylesheet" href="/static/home/css/nav-mogu-act.css" />
  <link rel="stylesheet" href="/static/home/css/pc_selection_wall.css" />
  <link rel="stylesheet" href="/static/home/css/index.css" /> 
 </head> 
 
 
 <body class="media_screen_1200"> 


  {include file="public/nav"}
  
  
  <!--页面内容 new pagani project-->
  <div id="body_wrap">
   <div class="wrap"> 
    <!--隐藏域不要了,用来拼接_b_key的前一位.的--> 
    <!--<input type="hidden" id="pagani_log_partc" value="jiadian_0" />--> 
    <div id="condition_box">

     <h3 class="sub_title" id="category_all">{$cat_name}</h3>
    </div> 
    <!--图墙导航: 排序和价格筛选等--> 
    <div class="wall_nav_box" id="wall_nav_box"> 
     <div class="sort_container fl"></div>
     <div class="price_input fl">
      <div class="txt">
       <span class="rmb">￥</span>
       <input class="min_price from" value="" name="minPrice" type="text" />
      </div>
      <span class="divid">-</span>
      <div class="txt">
       <span class="rmb">￥</span>
       <input class="max_price to" value="" name="maxPrice" type="text" />
      </div>
      <a class="sbt confirm_btn" href="javascript:;">确定</a>
     </div>
     <div class="price_choice fl"></div>
    </div> 
	
	
	
    <!-- 图墙list部分 --> 
    <div class="wall_goods_box" id="wall_goods_box"> 
   
     <div class="J_scroll_wallbox clearfix" id="J_scroll_wallbox" style="height: auto;">
      <div class="goods_list_mod clearfix J_mod_hidebox J_mod_show">
	  
	  
   {volist name="goods" id="val"}
       <div class="iwf goods_item ratio3x4">
        <a rel="nofollow" href="/Goods/detail/id/{$val.id}" class="img pagani_log_link J_dynamic_imagebox loading_bg_120 J_loading_success" target="_blank"  >

    <img class="J_dynamic_img fill_img" src="/{$val['goods_img']}" alt="{$val['goods_img']}" />
    </a>
        <a rel="nofollow" target="_blank" href="#" class="pagani_log_link goods_info_container" >
    <p class="title yahei fl" style="height:40px;margin-bottom:3px">{$val['goods_name']}</p>
         <div class="goods_info fl">
          <b class="price_info yahei">&yen;{$val.pro_price}</b>
          <p class="org_price fl yahei">&yen;&nbsp;<span>{$val['origin_price']}</span></p>

         </div>
     </a>
       </div>
     {/volist}
	   
	   
      </div>
     </div> 
    </div>
   </div>
   <!--图墙相关输出完成--> 
  </div>

 

  {include file="public/footer" /}



 </body>
</html>