<!---footer开始-->
  <div class="foot J_siteFooter" data-ptp="_foot" style="background: rgb(245, 245, 245) none repeat scroll 0% 0%;">
   <div class="mgj_copyright">
    <div class="mgj_footer_helper"></div>
    <div class="mgj_footer_otherlink">
     <p class="mgj_footer_otherlink_container"></p>
    </div>

    <div class="mgj_footer_copyright">
     <p class="mgj_footer_copyright_container">
	 <a rel="nofollow" target="_blank" class="mgj_footer_a color_999" href="#">{$sys.footer}</a>
	 
	 </p>
   </div>
  </div> 
  <!---footer结束--> 